.green{
    background: #27ae60;
    color: #fff;
    font-size: 20px;
}

.greensea{
    background: #16a085;
    color: #fff;
    font-size: 20px;
}
.peterriver{
    background: #3498db;
}
.pomegranate{
    background: #c0392b;
}



.green{
    background: #27ae60;
    color: #fff;
    font-size: 20px;
}
.greensea{
    background: #16a085;
    color: #fff;
    font-size: 20px;
}
.peterriver{
    background: #3498db;
    color: #fff;
    font-size: 20px;
}
.pomegranate{
    background: #c0392b;
    color: #fff;
    font-size: 20px;
}